th,
td {
  text-align: center;
}

/***** Couleurs retournées par l'API *****/
.custom-bg-perfect {
  background-color: #009e3a !important;
  color: black;
}

.custom-bg-good {
  background-color: #84cf33 !important;
  color: black;
}

.custom-bg-middle {
  background-color: #ffff00 !important;
  color: black;
}

.custom-bg-bad {
  background-color: #ff8c00 !important;
  color: black;
}

.custom-bg-verybad {
  background-color: #ff0000 !important;
  color: black;
}

.custom-bg-severe {
  background-color: #ff8c00 !important;
  color: black;
}
/***** End Section *****/
